* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('/assets/fonts/neue-machina-regular.otf');
}

body {
    background-color: #000;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
}

.main::before {
    content: '';
    background-image: url('../images/background_top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 160vw;
    height: 100vh;
    z-index: -1;
}

.main::after {
    content: '';
    background-image: url('../images/background_top.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 160vw;
    height: 100vh;
    z-index: -1;
    transform: rotate(180deg);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header::after {
    content: '';
    background-image: url('../images/icons/header.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1rem;
    right: 1rem;
}

.header .photo__perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.header .title {
    font-family: 'Neue Machina';
    text-align: center;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.information p {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.125rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}



.information .job::before {
    background-image: url('../images/icons/job.svg');
}

.information .location::before {
    background-image: url('../images/icons/location.svg');
}

.information .phone::before {
    background-image: url('../images/icons/phone.svg');
}

.information .email::before {
    background-image: url('../images/icons/email.svg');
}

.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2{
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/arrow-top.svg');
    transition: .25s;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 1rem;
    font-weight: 700;
}

.languages li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/check.svg');
    margin-right: .5rem;
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portfolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portfolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}

.portfolio li h3.github::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/github.svg');
    margin-right: .5rem;
}

.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li {
    margin-bottom: 1rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience li .period::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/icons/calendar.svg');
    margin-right: .5rem;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills .tools ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.skills .tools ul li img {
    max-width: 50px;
    max-height: 50px;
    margin: 0.5rem;
}

.skills .personal ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: .5rem;
}

@media only screen and (min-width: 768px) {
    .header {
        display: grid;
        grid-template-areas:
            'photo title'
            'photo information'
        ;
    }

    .header .photo__perfil {
        grid-area: photo;
        margin: 0 auto;
    }

    .header .title {
        grid-area: title;
        text-align: start;
        max-width: 210px;
    }

    .header .information {
        grid-area: information;
    }

    .main {
        max-width: 1024px;
        margin: 1rem auto;
    }

    .main::before {
        width: 70vw;
    
    }

    .main::after {
        width: 70vw;
        
    }

    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}